.FAQ {
	padding: 20px;
	margin: auto;
	max-width: 80%;

	.main-container {
		display: flex;
		justify-content: space-between;

		.left,
		.right {
			width: 45%;
		}
	}

	h3 {
		cursor: pointer;
	}

	& > input:first-child {
		margin: auto;
		display: block;
		margin-bottom: 19px;
	}
}
